# Requirements used on the Python tests.

# Don't pin the Nox dependency.
#
# Nox is badly recognized by Dependabot, and it links to
# dag/nox, when it should be theacodes/nox. And,
# because dag/nox is not a theacodes/nox fork,
# I won't get the latest updates. So, this is a special
# case where Dependabot isn't relevant.
black==21.9b0
isort==5.9.3
flake8==4.0.1
